{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/user.css') }}" />
{% endblock %}

{% block body %}
    <div id="login_form">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <input placeholder="{{ 'security.login.username'|trans }}" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
            <input placeholder="{{ 'security.login.password'|trans }}" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
            <div id="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/user.js') }}"></script>
{% endblock %}