{% extends "admin/adminbase.html.twig" %}
{% set pageName = 'mainmenu' %}

{% block stylesheetsAdmin %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/adminpage.css') }}">
{% endblock %}

{% block content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/adminpage.js') }}"></script>
{% endblock %}