{% extends "admin/adminbase.html.twig" %}
{% set pageName = 'mainmenu' %}

{% block stylesheetsAdmin %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/adminbase.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/adminbase.css') }}">
{% endblock %}

{% block content %}

    <table cellspacing="0">
        <tr>
            <th>Nom de la page</th>
            <th>Action</th>
        </tr>
        {% for menuitem in mmi %}
            <tr>
                <td>{{ menuitem.textFr }}</td>
                <td>
                    <a href="{{ path('admin_mainmenu_edit', {'id': menuitem.id}) }}"><img src="{{ asset('assets/images/edit.png') }}" alt="Editer" /></a>
                    <img src="{{ asset('assets/images/delete.png') }}" class="delete-button clickable" data-name="{{ menuitem.textFr }}" data-id="{{ menuitem.id }}" alt="Supprimer" />
                </td>
            </tr>
        {% endfor %}
    </table>

    <a id="newpage" href="{{ path('admin_mainmenu_add') }}">Ajouter une page</a>


{% endblock %}

{% block javascriptsAdmin %}
    <script src="{{ asset('assets/adminmainmenu.js') }}"></script>
{% endblock %}
