{% extends "base.html.twig" %}

{# The page var is defined in children pages to set the selected item in the menu #}
{% set pageName = pageName|default('none') %}

{# Just a simple macro to create a menu item #}
{% macro menuitem(text, link, pagename, currPage) %}
    <li class="{{ currPage == pagename ? "selected" : "" }}"><a href="{{ link }}">{{ text }}</a></li>
{% endmacro %}

{# For some reason we are forced to import it even though it's defined here.. #}
{% import _self as macros %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/adminbase.css') }}">
    {% block stylesheetsAdmin %}{% endblock %}
{% endblock %}

{% block body %}
    <ul id="admin-menu">
        {{ macros.menuitem('Configuration', path('admin_config'), 'config', pageName) }}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {{ macros.menuitem('Config Super', path('super_admin_config'), 'superconfig', pageName) }}
        {% endif %}
        {{ macros.menuitem('News', path('admin_news_list'), 'news', pageName) }}
        {{ macros.menuitem('Pages', path('admin_page_list'), 'pages', pageName) }}
        {{ macros.menuitem('Membres', '#', 'membres', pageName) }}
        {{ macros.menuitem('Menu principal', path('admin_mainmenu_list'), 'mainmenu', pageName) }}
    </ul>
    <div id="admin-content">
        {% block content %}{% endblock %}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/adminbase.js') }}"></script>
    {% block javascriptsAdmin %}{% endblock %}
{% endblock %}