{% extends "admin/adminbase.html.twig" %}
{% set pageName = "config" %}

{% block stylesheetsAdmin %}

{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <table>
        <tr>
            <td>Nom de l'entreprise</td>
            <td>{{ form_widget(form.companyName) }}</td>
        </tr>
        <tr>
            <td>URL du site</td>
            <td>{{ form_widget(form.siteURL) }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form_widget(form.submit) }}</td>
        </tr>
    </table>
    {{ form_end(form) }}

{% endblock %}