{% extends "admin/adminbase.html.twig" %}
{% set pageName = 'superconfig' %}

{% block stylesheetsAdmin %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/adminpage.css') }}">
{% endblock %}

{% block content %}

    {{ form(form) }}

{% endblock %}

{% block javascriptsAdmin %}
    <script src="{{ asset('assets/adminpage.js') }}"></script>
{% endblock %}