{% extends "admin/adminbase.html.twig" %}
{% set pageName = 'news' %}

{% block content %}

    <p>Êtes-vous sur de vouloir supprimer la news "{{ news.titleFr }}" ?</p>
    <p>Son contenu <span style="color:red">supprimé</span> et ne pourra pas être récupéré !</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}