{% extends "admin/adminbase.html.twig" %}
{% set pageName = 'news' %}

{% import "quillbox.html.twig" as editmacros %}

{% block stylesheetsAdmin %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/adminnews.css') }}">
{% endblock %}

{% block content %}

    {{ form_start(form, {'attr': {'id': 'news-edit-form'}}) }}

    <div class="edit-form-row">
        <label for="title_fr" style="margin-top: 0;">Titre FR: </label>
        {{ form_widget(form.title_fr) }}
    </div>
    <div class="edit-form-row">
        <label for="title_en">Titre EN: </label>
        {{ form_widget(form.title_en) }}
    </div>
    <div class="edit-form-row">
        <label for="content_fr">Contenu FR:</label>
        {{ editmacros.quillbox('quillbox_fr', 'quillbox_toolbar_fr', 'quillbox_content_fr') }}
    </div>
    <div class="edit-form-row">
        <label for="content_en">Contenu EN:</label>
        {{ editmacros.quillbox('quillbox_en', 'quillbox_toolbar_en', 'quillbox_content_en') }}
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascriptsAdmin %}
    <script src="{{ asset('assets/adminnews.js') }}"></script>
{% endblock %}
