{% extends "admin/adminbase.html.twig" %}
{% set pageName = 'news' %}

{% block stylesheetsAdmin %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/adminpage.css') }}">
{% endblock %}

{% block content %}

    <table cellspacing="0">
        <tr>
            <th>Titre de la news</th>
            <th>Dernière modification</th>
            <th>Action</th>
        </tr>
        {% for new in news %}
            <tr>
                <td>{{ new.titleFr }}</td>
                <td>{{ new.creationDate|date('Y/m/d - g:ia') }}</td>
                <td>
                    <a href="{{ path('admin_news_edit', {'id': new.id}) }}"><img src="{{ asset('assets/images/edit.png') }}" alt="Editer" /></a>
                    <img class="delete-button clickable" src="{{ asset('assets/images/delete.png') }}" data-name="{{ new.titleFr }}" data-id="{{ new.id }}" alt="Supprimer" />
                    <a href="{{ path('display_news', {'slug': new.slug}) }}"><img src="{{ asset('assets/images/view.png') }}" alt="View" /></a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a id="newnews" href="{{ path('admin_news_new') }}">Ajouter une news</a>


{% endblock %}

{% block javascriptsAdmin %}
    <script src="{{ asset('assets/adminnews.js') }}"></script>
{% endblock %}