{% extends "admin/adminbase.html.twig" %}
{% set pageName = 'pages' %}

{% block stylesheetsAdmin %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/adminpage.css') }}">
{% endblock %}

{% block content %}

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="line">
            <div>Titre FR</div>
            {{ form_widget(form.title_fr) }}
        </div>

        <div class="line">
            <div>Titre EN</div>
            {{ form_widget(form.title_en) }}
        </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/adminpage.js') }}"></script>
{% endblock %}