{% extends "admin/adminbase.html.twig" %}
{% set pageName = 'pages' %}

{% block content %}

    <p>Êtes-vous sur de vouloir supprimer la page "{{ page.titleFr }}" ?</p>
    <p>Tous les blocs seront <span style="color:red">supprimés</span> et le contenu <span style="color: red">perdu</span> !</p>
    <p>Si la page est dans un menu, le lien sera supprimé aussi</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}