{% extends "admin/adminbase.html.twig" %}
{% set pageName = 'pages' %}

{% block stylesheetsAdmin %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/adminpage.css') }}">
{% endblock %}

{% block content %}

    <input type="hidden" id="URL_ICON_EDIT" value="{{ asset('assets/images/edit.png') }}" />
    <input type="hidden" id="URL_ICON_REMOVE" value="{{ asset('assets/images/delete.png') }}" />

    {{ form_start(form) }}
    <table>
        <tr>
            <td>Titre FR</td>
            <td>{{ form_widget(form.title_fr) }}</td>
        </tr>
        <tr>
            <td>Titre EN</td>
            <td>{{ form_widget(form.title_en) }}</td>
        </tr>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <tr>
            <td>SuperAdmin uniquement</td>
            <td>{{ form_widget(form.superadminOnly) }}</td>
        </tr>
        {% endif %}
        <tr>
            <td></td>
            <td>{{ form_widget(form.save) }}</td>
        </tr>
        <tr>
            <td>
                <ul id="BlockDropZone">
                    {% for block in entity.blocks %}
                        <li data-blockid="{{ block.id }}" data-blockname="{{ block.getBlockTypeName() }}">
                            <span>Block {{ block.getBlockTypeName() }}</span>
                            <div>
                                <img class="clickable edit-button" src="{{ asset('assets/images/edit.png') }}" alt="editer" />
                                <img class="clickable delete-button" src="{{ asset('assets/images/delete.png') }}" alt="supprimer" />
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul id="BlockPickZone">
                    <li id="BLOCK-TITLE" data-blockname="Titre" draggable="true"><span>Block Titre</span></li>
                    <li id="BLOCK-TEXT" data-blockname="Texte" draggable="true"><span>Block Texte</span></li>
                    <li id="BLOCK-BANDMENU" data-blockname="Menu en bande" draggable="true"><span>Block Menu en bande</span></li>
                    <li id="BLOCK-NEWS" data-blockname="News" draggable="true"><span>Block News</span></li>
                    <li id="BLOCK-HORIZONTAL" data-blockname="horizontal" draggable="true"><span>Block Horizontal</span></li>
                    <li id="BLOCK-VERTICAL" data-blockname="vertical" draggable="true"><span>Block Vertical</span></li>
                </ul>
            </td>
        </tr>
    </table>
    {{ form_end(form) }}

    <div id="block_editor">
        <button id="block_editor_close">X</button>
        <div id="block_editor_content">

        </div>
        <button id="block_editor_save">Sauvegarder</button>

    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/adminpage.js') }}"></script>
{% endblock %}