{% extends "admin/adminbase.html.twig" %}
{% set pageName = 'pages' %}

{% block stylesheetsAdmin %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/adminpage.css') }}">
{% endblock %}

{% block content %}

    <table cellspacing="0">
        <tr>
            <th>Nom de la page</th>
            <th>Action</th>
        </tr>
        {% for page in pages %}
            <tr>
                <td>{{ page.titleFr }}</td>
                <td>
                    <a href="{{ path('admin_page_edit', {'id': page.id}) }}"><img src="{{ asset('assets/images/edit.png') }}" alt="editer" /></a>
                    <img class="delete-button clickable" src="{{ asset('assets/images/delete.png') }}" data-name="{{ page.titlefr }}" data-id="{{ page.id }}" alt="supprimer" />
                    <a href="{{ path('display_page', {'page': page.slug}) }}"><img src="{{ asset('assets/images/view.png') }}" alt="View" /></a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a id="newpage" href="{{ path('admin_page_new') }}">Ajouter une page</a>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/adminpage.js') }}"></script>
{% endblock %}