<ul class="newslist">
    {% for currNews in news %}
    <li>
        <div class="item">
            <div class="author">
                <img alt="author-avatar" src="{{ asset('assets/images/formation.png') }}">
                <div class="author-desc">
                    <div class="author-name">{{ currNews.writer.firstName ~ ' ' ~ currNews.writer.lastName }}</div>
                    <div class="article-date">Le {{ currNews.creationDate|date('d/m/Y') }}</div>
                </div>
            </div>
            <div class="article">
                <h1 class="title">{{ currNews.titleFR }}</h1>
                <div class="news_content" id="{{ 'news_' ~ loop.index }}">
                    {{ currNews.contentFR }}
                </div>
                <a href="{{ path('display_news', {'slug': currNews.slug}) }}">Lire plus...</a>
            </div>
        </div>
    </li>
    {% endfor %}

    {% include 'utils/pager.html.twig' with {'fakepath': fakepath, 'key': 'news', 'maxPage': amtPages } %}

</ul>
