<ul class="bandmenu">
    {% for menuItem in menu.menuItems %}
        <li>
            <a href="{{ path('display_page', {'page': menuItem.destination.slug}) }}">
                <img alt="icon" src="{{ asset('assets/images/' ~ menuItem.iconName) }}">
                <span class="title">{{ menuItem.textFR }}</span>
            </a>
        </li>
    {% endfor %}
</ul>