@import "theme.scss";

html {
  height : 100%;
}

* {
  box-sizing : border-box;
}

@font-face {
  font-family : "comfortaa";
  src         : url("assets/fonts/Comfortaa-Regular.ttf") format("ttf")
}

body {
  margin          : 0;
  background      : url("assets/images/kisspng-mountain.png") rgba(125, 125, 125, .3) fixed;
  background-size : cover;
  flex-direction  : column;
  height          : 100%;
  display         : flex;
  min-width       : 250px;
}

header {
  color       : white;
  font-family : comfortaa;

  .top {
    display          : flex;
    flex-direction   : row;
    justify-content  : center;
    align-items      : center;
    background-color : $colorCnam;
    padding          : 10px;

    h2 {
      font-size : 2em;
      margin    : 0;
    }

    img {
      height       : 7em;
      margin-right : 20px;
    }

  }

  nav {
    background-color : $darkerCnam;

    ul {
      margin     : 0;
      text-align : center;
      padding    : 0 0 5px 0;

      li {
        display  : inline-block;
        position : relative;
        margin   : 0 5px 0 0;
        padding  : 8px;

        a {
          text-decoration : none;
          color           : inherit;
        }
      }

      .selected {
        background-color : $colorCnam;
        border-radius    : 0 0 $menuBorderRadius $menuBorderRadius;
        padding          : 8px 20px 8px 20px;

        &:after, &:before {
          content  : ' ';
          position : absolute;
          width    : 15px;
          height   : 15px;
          top      : 0;
        }

        &:before {
          left             : -15px;
          background-image : radial-gradient(circle at 0 15px, transparent 14px, $colorCnam 15px);
        }

        &:after {
          right            : -15px;
          background-image : radial-gradient(circle at 100% 15px, transparent 14px, $colorCnam 15px);
        }
      }
    }
  }
}

.body {
  flex-grow : 1;
  margin    : auto;
  max-width : $maxContentWidth;
}

footer {
  position         : relative;
  width            : 100%;
  background-color : #b10021;
  align-self       : flex-end;
  color            : white;
  display          : flex;
  flex-direction : row;

  > div {
    flex-grow: 1;
    display : block;
    margin  : 8px;
  }

  .not-first-nor-last {
    text-align: center;
  }

  .last {
    text-align: right;
  }

}
