@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

.quillbox {
  width: 50%;
  margin: auto;

  .ql-toolbar {
    text-align: left !important;
  }

  .ql-container {
    height: 200px;
  }

  .ql-snow {
    background: aliceblue;
  }
}