// Global variables
$colorCnam: #B10021;
$darkerCnam: #741420;
$greyCnam: #37474f;
$whiteCnam: #e6e6e6;

$maxContentWidth: 80em;
$menuBorderRadius: 10px;
$borderRadius: 15px;

// Login variables
$loginWidth: 30em;
$loginPadding: 5em;

// Admin variables
$adminPaddingMenu: 2em;