@import "theme.scss";

#login_form {
  position: relative;
  width: $loginWidth;
  padding: $loginPadding;
  background-color : $darkerCnam;
  border-radius: 0 0 $borderRadius $borderRadius;
  margin: auto;

  input, #remember_me {
    margin: auto auto 10px auto ;
    display : block;
  }

  #remember_me {
    padding: 20px;
    text-align : center;

    & label, & input {
      display : inline-block;
    }
  }


}
