@import "../theme";

.body {
  padding        : $adminPaddingMenu;
  max-width      : 100%;
  margin         : initial;
  align-items    : flex-start;
  display        : flex;
  flex-direction : row;
}

#admin-menu {
  position         : sticky;
  width            : 15em;
  margin           : 0;
  //height           : 200px;
  top              : $adminPaddingMenu;
  background-color : $colorCnam;
  border-radius    : $borderRadius;
  padding          : 10px 0 10px 0;
  text-align       : center;
  list-style-type  : none;

  li {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 2.2em;

    a {
      color           : white;
      text-decoration : none;
      font-size       : 1.2em;
    }
  }

  li.selected {
    background-color : $darkerCnam;
  }
}

#admin-content {
  flex-grow  : 1;
  text-align : center;

  table {
    width      : 70%;
    margin     : auto auto 20px;
    text-align : center;

    tr {
      th {
        background-color : rgba($colorCnam, .4);
        border-bottom    : 1px solid rgba(black, .6);
      }

      td {
        img {
          height : 2em;
        }
      }

      &:nth-child(2n) {
        background-color : rgba($darkerCnam, .1);
        border-bottom    : 1px solid rgba(black, .1);
      }
    }
  }

}

form > div > div {
  margin: 20px;

  label {
    margin-right: 10px;
  }

  div {
    display: inline-block
  }
}

#ConfirmBackground {
  position         : fixed;
  background-color : rgba(black, .5);
  width            : 100%;
  height           : 100%;
  display          : flex;
  justify-content  : center;
  align-items      : center;

  #ConfirmBox {
    position         : fixed;
    display          : block;
    width            : 50%;
    padding          : 20px;
    border           : 1px solid red;
    background-color : rgba(whitesmoke, .8);
    border-radius    : 20px;

    .PopupButton {
      width           : 150px;
      height          : 30px;
      display         : flex;
      justify-content : center;
      align-items     : center;
    }

  }
}


.clickable {
  cursor : pointer;
}