@import "../theme";

#admin-content {
  #newpage {
    margin-top : 2em;
    text-align : center;
  }

  .line {
    margin-bottom : 20px;
  }


  #BlockDropZone, #BlockPickZone {
    background-color : rgba(white, .2);
    height           : 30vh;
    overflow-y       : scroll;
    padding          : 0;

    li {
      width            : 100%;
      height           : 60px;
      background-color : rgba(black, .2);
      list-style-type  : none;
      text-align       : left;
      padding          : 10px;

      &:not(:last-child) {
        margin : 0 0 10px 0;
      }
    }
  }

  #BlockPickZone {
    margin-left : 20px;
  }

  #BlockDropZone li {
    display : flex;

    span {
      flex-grow : 1;
    }
  }

  #block_editor {
    position         : absolute;
    transition       : left .2s linear;
    top              : 0;
    left             : -100%;
    width            : 100%;
    height           : 100%;
    background-color : rgba(255, 255, 255, .7);
    padding          : 20px;
    z-index          : 999;

    #block_editor_close {
      position : absolute;
      top      : 5px;
      right    : 5px;
    }

    #block_editor_save {
      position : absolute;
      bottom   : 15px;
      right    : calc(50% - 75px);
      width    : 150px;
    }

    .quillbox-editor {
      background : white;

      div {
        width : 100%;
      }

      #quill-textedit {
        height : 40vh;
      }
    }
  }

  .slide_in {
    transition : left .2s linear;
    left       : 0 !important;
  }

}
