{# The page var is defined in children pages to set the selected item in the menu #}
{% set pageName = pageName|default('none') %}

{# Just a simple macro to create a menu item #}
{% macro menuitem(text, link, pagename, currPage) %}
    <li class="{{ currPage == pagename ? "selected" : "" }}"><a href="{{ link }}">{{ text }}</a></li>
{% endmacro %}

{# For some reason we are forced to import it even though it's defined here.. #}
{% import _self as macros %}

<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/base.css') }}" />
    {% block stylesheets %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <div class="top">
        <img src="{{ asset('assets/images/logo.png') }}">
    </div>
    <nav>
        <ul>
            {% for menuItem in MainMenuFetcherService.MainMenu %}
                {{ macros.menuitem(menuItem.textFr, path('display_page', {'page': menuItem.destination.slug}), menuItem.destination.slug, pageName) }}
            {% endfor %}
        </ul>
    </nav>
</header>
<div class="body">
    {% block body %}{% endblock %}
</div>

<script src="{{ asset('assets/runtime.js') }}"></script>
<script src="{{ asset('assets/base.js') }}"></script>

{% if (ConfigService.getConfig("footer", "false").value == "true") %}
<footer>
    <div id="copyright"><div>Copyright 2018-2019 Overflow</div><div>Tous droits réservés</div></div>
    <div id="user_login" class="not-first-nor-last">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div>
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
            </div>
            <div>
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path("admin_index") }}">Administration</a> |
                {% endif %}
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </div>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>
    <div id="legals" class="last"><a href="#">Mentions Légales</a></div>
</footer>
{% endif %}
{% block javascripts %}{% endblock %}
</body>
</html>
