{% extends "base.html.twig" %}
{% set pageName = news.slug %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/page_one_news.css')}}" />

    <meta property="og:title" content="{{ news.titleFR }}" />
    <meta property="og:type" content="article" />
    {% set configSiteURL = ConfigService.getConfig("site_url", "none") %}
    {% if (configSiteURL.value != 'none') %}
        <meta property="og:url" content="{{ configSiteURL.value ~ path('display_news', {'slug': news.slug}) }}" />
    {% endif %}
{% endblock %}

{% block body %}

    <h1>{{ news.titleFR }}</h1>

    <p>{{ news.contentFR }}</p>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/page_one_news.js') }}"></script>
{% endblock %}
