{% extends "base.html.twig" %}
{% set pageName = page.slug %}
{% set blocktype = []  %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/page_' ~ pageName ~ '.css')}}" />
    {% for block in page.blocks %}
        {% if block.blockType|lower not in blocktype %}
            <link rel="stylesheet" type="text/css" href="{{asset('assets/blocks/' ~ block.blockType|lower ~ '_css.css')}}" />
            {% set blocktype = blocktype|merge([block.blockType|lower]) %}
        {% endif %}
    {% endfor %}
    {% set blocktype = [] %}
{% endblock %}

{% block body %}
    {% for block in page.blocks %}
        {{ BlockRendererService.getHTML(block, fakepath)|raw }}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/page_' ~ pageName ~ '.js') }}"></script>
    {% for block in page.blocks %}
        {% if block.blockType|lower not in blocktype %}
            <script src="{{ asset('assets/blocks/' ~ block.blockType|lower ~ '_js.js') }}"></script>
            {% set blocktype = blocktype|merge([block.blockType|lower]) %}
        {% endif %}
    {% endfor %}
{% endblock %}