{#
    Need:
        maxPage
        FakePath
        key
#}

{% set currPage = fakepath.getArg(key, 1) %}

{% if (currPage <  0) %}
    {% set currPage =  0 %}
{% endif %}

{% if (currPage >  maxPage) %}
    {% set currPage =  maxPage %}
{% endif %}

<div class="pager">
    <a href="{{ fakepath.buildURLWithTempArgs({'news': 1}) }}">|<</a>
    <a href="{{ fakepath.buildURLWithTempArgs({'news': (currPage > 1 ? currPage-1 : 1)}) }}"><</a>
    {% if (maxPage < 11) %}
        {% for i in range(1, maxPage) %}
            <a href="{{ fakepath.buildURLWithTempArgs({'news': i}) }}">{{ i }}</a>
        {% endfor %}
    {% else %}
        {% set pMinPage = currPage - 5 %}
        {% if pMinPage < 1 %}
            {% set pMinPage = 1 %}
        {% endif %}

        {% set pMaxPage = currPage + 5 %}
        {% if pMaxPage > maxPage %}
            {% set pMaxPage = maxPage %}
        {% endif %}

        {% for i in range(pMinPage, pMaxPage) %}
            <a href="{{ fakepath.buildURLWithTempArgs({'news': i}) }}" class="{{ i == currPage ? 'selected': '' }}">{{ i }}</a>
        {% endfor %}
    {% endif %}

    <a href="{{ fakepath.buildURLWithTempArgs({'news': (currPage+1 <= maxPage ? currPage+1 : currPage)}) }}">></a>
    <a href="{{ fakepath.buildURLWithTempArgs({'news': maxPage}) }}">>|</a>
</div>
