@import '../theme';

.bandmenu {
  @media screen and (min-width : 992px) {
    margin : 2em 11.5em;
  }

  @media screen and (min-width : 992px) and (max-width : 1199px) {
    margin : 2em 3.5em;
  }

  @media screen and (max-width : 767px) {
    flex-wrap                  : nowrap;
    overflow-x                 : auto;
    -webkit-overflow-scrolling : touch;
    margin-left                : -1.5em;
  }

  list-style      : none;
  padding         : 0;
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;

  li {
    @media screen and (max-width : 767px) {
      flex : 0 0 auto;
    }

    flex             : 1 1 0;
    min-width        : 11em;
    margin-left      : 20px;
    margin-right     : 20px;
    border-radius    : 5px 5px 5px 5px;
    text-align       : center;
    width            : 100%;
    height           : 100%;

    background-color : $whiteCnam;

    a {
      display : block;
      width   : 100%;
      height  : 100%;

      img {
        padding : .5em;
      }

      .title {
        background-color : $greyCnam;
        border-radius    : 5px 5px 5px 5px;
        margin           : .4em;
        padding          : 0.2em 0.4em;
        display          : inline-block;
        width            : calc(100% - 2 * .4em);
      }

      &:link, &:visited, &:hover, &:active {
        color : white;
      }
    }
  }
}