@import "../theme";
@import "../utils/pager";

.newslist {
  @media screen and (min-width : 1200px) {
    margin-left  : 12em;
    margin-right : 12em;
  }

  @media screen and (min-width : 992px) and (max-width : 1199px) {
    margin-left  : 5em;
    margin-right : 5em;
  }

  list-style : none;
  padding    : 0;

  li {
    margin-bottom : 2em;

    .item {
      @media screen and (min-width : 992px) {
        display        : flex;
        flex-direction : row;
      }

      @media screen and (max-width : 991px) {
        margin-right : 1em;
        margin-left  : -1em;
      }

      border-radius    : 15px 15px 15px 15px;
      background-color : white;
      color            : $greyCnam;
      text-align       : center;

      .article {
        text-align     : justify;
        padding-left   : 2em;
        padding-right  : 2em;
        padding-bottom : 1em;
      }

      .author {

        padding-bottom   : 1em;

        @media screen and (max-width : 991px) {
          border-radius  : 15px 15px 0 0;
          display        : flex;
          flex-direction : row;

          .author-desc {
            margin-left : 2em;
            margin-top  : 2em;
          }
        }

        @media screen and (min-width : 992px) {
          border-radius : 15px 0 0 15px;
          min-width     : 10em;
        }

        background-color : $colorCnam;
        color            : white;
        padding-left     : 1em;
        padding-right    : 1em;

        .author-name {
          display     : inline-block;
          font-size   : 0.7em;
          font-weight : bold;
        }

        .article-date {
          font-size : x-small;
        }
      }
    }
  }
}