@import '../theme';

.pager {
  text-align : center;
  
  a {
    display : inline-block;
    width: 50px;
    background-color: $darkerCnam;
    color: white;
    border: 1px solid $colorCnam;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
  }

  a.selected {
    background-color: $colorCnam;
  }
}